<%- include('include/header_dstudio') %>
    

<div class="header_movie" style="position: relative;">  
<img src="https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_NightSky_Launch/2acd4ca9-8408-4abf-a859-11098a674de6._UR3000,600_SX1500_FMwebp_.jpeg"  height="300" class="" alt="" style="width: 100%;">
<img style="position: absolute; top: 39%; left:1%; cursor: pointer;" width="50" height="50" src="/images/left-arrow.png">

<img style="position: absolute; top: 39%; right:1%; cursor: pointer;" width="50" height="50" src="/images/right-side.png">
</div>   
<br>
  <div class="text-light ml-1">
<h4>Trending</h4>
  <div class="recommended">
    <% for(var i = 0; i < trending.length; i++) { %>
      <img src="https://image.tmdb.org/t/p/original/<%= trending[i].poster_path %>" alt="" style="display: inline-block; width: 270px; height: 125px; border-radius: 3px;">
        <% } %>
  </div>
  
     
  <h4>Recommended movies</h4>
  <div class="recommended">
    <% for(var i = 0; i < itemBased.length; i++) { %>
      <img src="https://image.tmdb.org/t/p/original/<%= recetlywatched[i].poster_path %>" alt="" style="display: inline-block; width: 270px; height: 125px; border-radius: 3px;">
        <% } %>
  </div>
  <h4>Recently watched movies</h4>
  <div class="recommended">
    <% for(var i = 0; i < recentlywatched.length; i++) { %>
      <img src="https://image.tmdb.org/t/p/original/<%= recentlywatched[i].poster_path %>" alt="" style="display: inline-block; width: 270px; height: 125px; border-radius: 3px;">
        <% } %>
  </div>
  </div>
</div>
<%- include('include/footer') %>