<%- include('include/header_dstudio') %>

<div class="d-flex justify-content-center text-light" style="margin-top: 0px;">
    <script>
    function watchMovie(ele){
        ele.innerText='Watched';
        document.getElementById('rating').style.display='block';
        }
    </script>
<h1 style="display:block;" ><%= data.title  %></h1> </div>
<img src="https://image.tmdb.org/t/p/original/<% data.poster_path %>" alt="movie" style=" width: 50%; height: 30%; margin-left:25%;  border-radius: 7px;">
<br>
<b class="text-primary"> Description :</b>
<div class="w-50">
<%= data.overview %>
</div>
<b class="text-primary"> genres :</b>
<div>
   <% for(var i = 0; i < genres.length; i++) { %>
  <%= genres[i] %>,
  <% } %>
</div>
<button class="btn btn-primary " style=" margin-left:42%; margin-top: 10px; width: 300px;" onclick="watchMovie(this)">Watch Now</button>
<style>
    .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input{ display:none;}

.rating > label {
  position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer;
}
.rating > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before{
  opacity:1;
}

.rating:hover > input:checked ~ label:before{ opacity: 0.4; }

body{ background: #222225; color: white;}
h1, p{ 
    text-align: center;
    
}

h1{
    margin-top:150px;
}
p{ font-size: 1.2rem;}
@media only screen and (max-width: 600px) {
  h1{font-size: 14px;}
  p{font-size: 12px;}
}

</style>
<script>
//   window.onload = () =>{
//     console.log('hiī');
//   var rating =parseInt('<%= rating %>');
//   if(rating){
//     document.getElementById('rating').value=rating;
//     document.getElementById('rating').disabled=true;
//   }
//   else{
//      document.getElementById('rating').value=0;
//   }
// };

    function submitRating(ele) {
      console.log('hellooo');
    let rating =ele.value;
    let movieid='<%= data.movieId %>';
    let userid='<%= userid %>'
    console.log(rating);
    let data={
      rating:rating,
      userid:userid,
      movieid:movieid
    };
      ele.disabled=true;

    $.ajax({
      data:data,
      method:'POST',
      url:'http://localhost:3000/rating'
    }).done(()=>{

    })
  }
  
</script>
<br><br>
<!-- <div id="rating" style="display: none;">
  <h3 class="d-flex justify-content-center text-light">Submit Rating</h3>
  <div class="rating">

    <input type="radio" name="rating" value="5" id="5"><label for="5" onclick="submitRating(this)">☆</label>
    <input type="radio" name="rating" value="4" id="4"><label for="4" onclick="submitRating(this)">☆</label>
    <input type="radio" name="rating" value="3" id="3"><label for="3" onclick="submitRating(this)">☆</label>
    <input type="radio" name="rating" value="2" id="2"><label for="2" onclick="submitRating(this)">☆</label>
    <input type="radio" name="rating" value="1" id="1"><label for="1" onclick="submitRating(this)">☆</label>
  </div>
</div> -->

<label for="customRange3" class="form-label">Rating</label>
<% if(rating) {%>
<input type="range" class="form-range" min="0" max="5" step="1" id="rating" onclick="submitRating(this)" value="<%= rating %>" disabled>

<% } %>
<% if(!rating) {%>
<input type="range" class="form-range" min="0" max="5" step="1" id="rating" onclick="submitRating(this)" value="0" >

  <% } %>

<%- include('include/footer') %>
